cmake-build-debug
cmake-build-release

# CLion files
.idea


## Python ignores
# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Python VirtualEnv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python rope project settings
.ropeproject

# Python pyre type checker
.pyre/

# Python pytype static type analyzer
.pytype/
